*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: black;
}

.game-board {
  width: 100vmin;
  height: 100vmin;
  background-color: #ccc;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
}

.snake {
  background-color: hsl(200, 100%, 50%);
  border: 0.25vmin solid black;
}
.food {
  background-color: hsl(50, 100%, 50%);
  border: 0.25vmin solid black;
}
