* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-board {
  position: relative;
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  gap: var(--cell-gap);
  padding: var(--cell-gap);
  background-color: #ccc;
  border-radius: 1vmin;
}

.cell {
  position: relative;
  background-color: #aaa;
  border-radius: 1vmin;
}

.tile {
  /* --x: 0;
  --y: 3;
  --background-lightness: 80%;
  --text-lightness: 20%; */
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  font-size: 10vmin;
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0%{
    opacity: 0.5;
    transform: scale(0);
  }
}
